/* logo og menu */
header {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 30px auto 40px;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  #logo {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
  }
  
  .menu a {
    display: flex;
    color: black;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 900px;
    margin-bottom: 10px;
  }
  
  .menu li {
    margin-right: 20px;
  }

/* MOBILVERSION */
@media (max-width: 800px) {
/* logo og menu */
header {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 30px auto 40px;
    align-items: center;
    border-bottom: 1px solid black;
  }
  
  #logo {
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    margin-left: 1rem;
  }
  
  .menu a {
    display: flex;
    color: black;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  
  .menu {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: 6px;
    margin-bottom: 10px;
  }
  
  .menu li {
    margin-right: 20px;
  }
}